/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";


global
{
	content-background-color: #FFFFFF;
}

s|TitleWindow
{
	skinClass: ClassReference("spark.skins.spark.TitleWindowSkin");
	color: #000000;
	fontFamily: Osaka;
	fontSize: 13;
	backgroundColor: #D9D7C5;
}

.fujiContainer
{
	backgroundColor: #97B892;
}

.fujiLayout
{
	cornerRadius: 10;
	backgroundColor: #A9D5B5;
}

.fujiLayoutOver
{
	cornerRadius: 10;
	backgroundColor: #CCE9D2;
}

.fujiLayoutSelected
{
	cornerRadius: 10;
	backgroundColor: #FBFC9F;
}

.selectedRegionBorder
{
	backgroundAlpha: 0;
	borderThickness: 1;
	borderColor: #0000FF;
}

.selectedRegion
{
	borderVisible: false;
	backgroundAlpha: 0;
}

.container1 {
	backgroundColor: #A9A986;
}

.container1Selected {
	backgroundColor: #734854;
}

.container2 {
	backgroundColor: #878C7B;
}
s|Button
{
	fontFamily: Osaka;
}

s|TextInput
{
	skinClass: ClassReference("spark.skins.spark.TextInputSkin");
	backgroundColor:#F7F3DE;
	fontFamily: Osaka;
}

mx|ProgressBar
{
	skinClass: ClassReference("mx.skins.halo.ProgressBarSkin")
}

.fujiRegion {
	borderAlpha: 0.4;
	borderColor: #0000FF;
	backgroundAlpha: 0;
}

.fujiwakuChangeViewer {
	borderColor: #0000FF;
	backgroundColor: #F7F3DE;
}

.tree {
	depthColors: #FFFFED,#FFFFED,#FFFFED;
	backgroundColor: #FFFFED;
	color: #262316;
}

.classTree {
	folderOpenIcon:Embed(source="assets/icons/book_open_mark.png");
	folderClosedIcon:Embed(source="assets/icons/book.png");
	defaultLeafIcon:Embed(source="assets/icons/book.png");
	depthColors: #FFFFED,#FFFFED,#FFFFED;
	backgroundColor: #FFFFED;
	color: #262316;
}

.categoryContainer {
	borderAlpha: 0.4;
	borderWeight: 2;
	borderColor: #594C4C;
	backgroundColor: #D9C1A3;
	backgroundAlpha: 0.5;
}

.dataGrid {
	verticalAlign: middle;
}

.categoryInfo
{
	skinClass: ClassReference("spark.skins.spark.TextAreaSkin");
	contentBackgroundColor: #EDECE8;
	borderVisible: true;
	fontFamily: Osaka;
	color: #676767;
}