body {
	background: #FFF;
	padding: 0;
	margin: 0;
}

#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#logo-container {
	margin-top: 60pt;
	margin-bottom: 30pt;
	width: 100%;
}

a:hover {
	color: #555;
	text-decoration:none;
	border-bottom: none;
	border-bottom:1px dashed #000033;
}

/* a:visited {
	color:#000;
} */

a {
	color:#BBB;
	text-decoration:none;
	border-bottom:1px dashed #AAA;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#flashcontentContainer {
	position: absolute;
	background: #FFFFFF;
	width: 100%;
	height: 100%;
}